<table>
  <thead>
    <tr>
      <th>Field</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Applicant Name</td>
      <td><%= loan_application.full_name %></td>
    </tr>
    <tr>
      <td>Loan Amount</td>
      <td><%= loan_application.loan_amount %></td>
    </tr>
    <!-- Add more rows as needed -->
  </tbody>
</table>
